@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 950px;
  width: 90%;
  margin: auto;
}

.section-title {
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}

.section-subtitle {
  color: #000;
  font-size: 20px;
  text-align: center;
  display: block;
}

.img {
  max-width: 100%;
}

body {
  background: #20202D;
  color: #fff;
  font-family: "Roboto Regular", sans-serif;
  font-weight: 300;
}

p {
  margin: 0;
}

.header {
  margin-top: 55px;
}
.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-block__socials {
  display: flex;
}
.header-block__logo img {
  width: 40px;
}

.socials-logo {
  margin-left: 20px;
  position: relative;
}
.socials-logo:hover::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background: #F0B514;
  position: absolute;
  top: -20px;
}
@media (max-width: 400px) {
  .socials-logo {
    margin-left: 15px;
  }
}
.socials-logo img {
  width: 17px;
  height: 17px;
}

.main {
  padding-top: 100px;
  background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
  padding-bottom: 80px;
}
.main-block {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (max-width: 660px) {
  .main-block {
    flex-direction: column;
    text-align: center;
  }
}
.main-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center660px;
}
@media (max-width: 660px) {
  .main-text {
    width: 100%;
    text-align: center;
  }
}
.main-text__subtitle {
  color: #FFBB01;
  font-size: 24px;
  margin-bottom: 14px;
}
@media (max-width: 450px) {
  .main-text__subtitle {
    font-size: 1em;
  }
}
.main-text__title {
  font-family: "Roboto Bold", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}
@media (max-width: 450px) {
  .main-text__title {
    font-size: 1.5em;
  }
}
.main-text__desc {
  max-width: 420px;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 38px;
}
@media (max-width: 660px) {
  .main-text__desc {
    margin: auto;
  }
}
@media (max-width: 450px) {
  .main-text__desc {
    font-size: 14px;
  }
}
.main-text__button {
  max-width: 285px;
  width: 100%;
  height: 65px;
  text-align: center;
  border-radius: 5px;
  border: none;
  background: linear-gradient(180deg, #FFD95B 0%, #F0B514 100%);
  box-shadow: 0px 4px 0px #B68500;
  cursor: pointer;
}
@media (max-width: 660px) {
  .main-text__button {
    margin-top: 40px;
    max-width: 230px;
    max-height: 44px;
  }
}
.main-text__buttonDesc {
  text-decoration: none;
  font-family: "Roboto Bold", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #2E2E30;
}
.main__image {
  width: 50%;
  padding-left: 20px;
}
@media (max-width: 660px) {
  .main__image {
    padding-left: 0px;
    width: 100%;
    text-align: center;
  }
}
.main__image img {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  border: white 5px solid;
  border-radius: 50%;
}
@media (max-width: 660px) {
  .main__image img {
    max-width: 200px;
    max-height: 200px;
  }
}
@media (max-width: 450px) {
  .main__image img {
    max-width: 150px;
    max-height: 150px;
  }
}

.offer {
  padding-top: 65px;
  background-color: #000000;
}
@media (max-width: 937px) {
  .offer {
    padding-top: 20px;
  }
}
.offer__title {
  font-family: "Roboto Bold", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 80px;
}
@media (max-width: 450px) {
  .offer__title {
    font-size: 25px;
  }
}
.offer__block {
  display: flex;
  flex-wrap: wrap;
}
.offer__item {
  width: 33%;
  padding-right: 30px;
  padding-bottom: 60px;
}
@media (max-width: 750px) {
  .offer__item {
    width: 50%;
    padding-right: 60px;
  }
}
@media (max-width: 480px) {
  .offer__item {
    width: 100%;
    padding-right: 80px;
  }
}
@media (max-width: 400px) {
  .offer__item {
    padding-right: 40px;
  }
}
.offer-item__title {
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 16px;
  font-family: "Roboto Bold", sans-serif;
  font-weight: 700;
}
@media (max-width: 450px) {
  .offer-item__title {
    font-size: 18px;
  }
}
.offer-item__text {
  font-size: 16px;
  line-height: 28px;
}
@media (max-width: 450px) {
  .offer-item__text {
    font-size: 14px;
  }
}

.portfolio {
  padding-top: 136px;
  padding-bottom: 140px;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
}
@media (max-width: 937px) {
  .portfolio {
    padding-top: 70px;
  }
}
@media (max-width: 500px) {
  .portfolio {
    padding-top: 30px;
  }
}
.portfolio__title {
  margin-bottom: 76px;
  font-size: 36px;
}
@media (max-width: 937px) {
  .portfolio__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
}
.portfolio-slider__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 937px) {
  .portfolio-slider__item {
    flex-direction: column;
    align-items: center;
  }
}

.slider__info {
  padding-left: 60px;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
@media (max-width: 937px) {
  .slider__info {
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding-left: 0px;
    justify-content: center;
    text-align: left;
  }
}
.slider__title {
  width: 100%;
  font-size: 24px;
}
@media (max-width: 937px) {
  .slider__title {
    margin-top: 40px;
    text-align: center;
  }
}
.slider__title h4 {
  margin-top: 0;
}
.slider__image img {
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
}
.slider-info__date {
  display: flex;
  margin-bottom: 40px;
}
.slider-info__budget {
  display: flex;
  margin-bottom: 40px;
}
.slider-info__feedback {
  display: flex;
}
@media (max-width: 937px) {
  .slider-info__feedback {
    max-width: 338px;
    width: 100%;
  }
}

.date__img, .budget__img, .feedback__img {
  margin-right: 16px;
}
.date__text, .budget__text, .feedback__text {
  margin-right: 40px;
}
.date-text__title, .budget-text__title, .feedback-text__title {
  font-size: 18px;
  font-family: "Roboto Bold", sans-serif;
  font-weight: 700;
  margin-bottom: 7px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 150px;
}
@media (max-width: 937px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}
.footer__title {
  font-family: "Roboto Bold", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 84px;
}
.footer__block {
  display: flex;
}
@media (max-width: 550px) {
  .footer__block {
    flex-wrap: wrap;
  }
}
.footer__item-form {
  text-align: center;
  max-width: 380px;
  width: 100%;
  height: 410px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: -5px 5px 0px #FFC41D;
  border-radius: 5px;
  margin-right: 100px;
}
@media (max-width: 800px) {
  .footer__item-form {
    margin-right: 50px;
  }
}
@media (max-width: 600px) {
  .footer__item-form {
    margin-right: 25px;
  }
}
@media (max-width: 550px) {
  .footer__item-form {
    margin-right: 0;
  }
}

.item__form-title {
  color: #000000;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.item__form-input {
  padding: 0px 0px 0px 30px;
  max-width: 310px;
  height: 60px;
  width: 80%;
  margin-bottom: 5px;
  border: none;
  background-color: #F8F8F8;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 10px;
}
.item__form-button {
  border: none;
  font-size: 12px;
  height: 60px;
  width: 100%;
  background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
  box-shadow: 0px 4px 0px #B68500;
  border-radius: 5px 5px 10px 10px;
  cursor: pointer;
  font-family: "Roboto Bold", sans-serif;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}
.item__form-link {
  max-width: 310px;
  width: 100%;
}

.form__name {
  background-image: url(../img/user-icon.png);
}
.form__tel {
  background-image: url(../img/phone-icon.png);
  margin-top: 30px;
}

.error {
  color: #000;
}

.footer-item__contacts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
@media (max-width: 550px) {
  .footer-item__contacts {
    width: 100%;
  }
}

.contacts-tel {
  width: 50%;
  max-height: 62px;
  margin-bottom: 50px;
}
@media (max-width: 900px) {
  .contacts-tel {
    width: 100%;
  }
}
.contacts-tel__title {
  font-size: 24px;
  font-family: "Roboto Bold", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}
.contacts-tel__text a {
  text-decoration: none;
  color: #fff;
}
.contacts-tel__text a:hover {
  text-decoration: underline;
}
.contacts-mail {
  width: 50%;
  max-height: 62px;
  margin-bottom: 50px;
}
@media (max-width: 900px) {
  .contacts-mail {
    width: 100%;
  }
}
.contacts-mail__title {
  font-size: 24px;
  font-family: "Roboto Bold", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}
.contacts-mail__text a {
  text-decoration: none;
  color: #fff;
}
.contacts-mail__text a:hover {
  text-decoration: underline;
}
.contacts-socials {
  width: 50%;
  margin-bottom: 50px;
}
@media (max-width: 900px) {
  .contacts-socials {
    width: 100%;
  }
}
.contacts-socials__title {
  font-size: 24px;
  font-family: "Roboto Bold", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}
.contacts-socials__text {
  margin-bottom: 42px;
}
.contacts-socials__text a {
  text-decoration: none;
  color: #fff;
}
.contacts-socials__text a:hover {
  text-decoration: underline;
}
.contacts-socials__logos {
  max-width: 150px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}
.contacts-socials__conditions a {
  font-size: 15px;
  color: #A5A5A5;
  text-decoration: underline;
}

.slick-dots {
  position: absolute;
  left: 50%;
  bottom: -100px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  transform: translateX(-50%);
  margin: 0;
  padding: 1rem 0;
}
.slick-dots li {
  margin: 0 0.25rem;
}
.slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid #ffBB01;
  text-indent: -9999px;
  cursor: pointer;
}
.slick-dots li.slick-active button {
  background-color: #ffBB01;
}/*# sourceMappingURL=style.css.map */